<ion-header>
  <ion-navbar>
    <ion-title>Capitalizacion: Tiempo </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label fixed>Valor Futuro</ion-label>
      <ion-input name="valofuturo" [(ngModel)]="ValorFuturo" type="number" id="valofuturo" placeholder="Valo Futuro"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label fixed>Tasa</ion-label>
      <ion-input name="tasa" [(ngModel)]="Tasa" type="number" id="tasa" placeholder="tasa"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label fixed>Cuota</ion-label>
      <ion-input name="cuota" [(ngModel)]="Cuota" type="number" id="cuota" placeholder="cuota"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Cuota Adelantada</ion-label>
      <ion-checkbox [(ngModel)]="CuotaAdelantada"></ion-checkbox>
    </ion-item>
    <label class=""> <b> Tiempo: {{ Tiempo | number: '1.2'  }} </b></label>
  </ion-list>

  <ion-row responsive-sm>
    <button ion-button (click)="doCalculation(ValorFuturo, Tasa, Cuota, CuotaAdelantada)" block> Calcular</button>
  </ion-row>

</ion-content>