<ion-header>
  <ion-navbar>
    <ion-title>VAN - Valor actual neto </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div class="container">
    <div class="row">
      <form>
        <div class="col-md-4">
             Flujo de fondos
             Hacer un ngFor de la lista
        </div>

        <div class="col-md-4"> 
            R - Tasa de rendimiento requerida
        </div>

        <div class="col-md-4">
             VAN
        </div>
      </form>
    </div>
  </div>
</ion-content>
