<ion-header>
  <ion-navbar>
    <ion-title>VAN - Valor actual neto </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div class="container">
    <div class="row">
      <form>
        <div class="row"> 
          <h1>Flujo de fondos</h1>
          <div *ngFor="let flujo of flujosFondo; let in = index" class="row">
            {{ in }} -
            <input type="number" name="flujo-{{in}}" [(ngModel)]="flujo.value">
          </div>
        </div>

        <div class="row">
          <button ion-button block (click)="agregarFlujo()">+</button>
        </div>

        <div class="row"> 
            R - Tasa de rendimiento requerida
            <input type="number" (ngModelChange)="r = convertToNumber($event)" name="tasa-requerida-r" [(ngModel)]="r">
        </div>

        <button ion-button block  (click)="doCalculation()">Calcular</button>

        <div class="row">
          <div class="row">VAN: {{ van }}</div>
          <div class="row"> {{ van >= 0 ? "Inversion Aceptada" : "Inversion Rechazada" }} </div>
        </div>
      </form>
    </div>
  </div>
</ion-content>
