<ion-header>
  <ion-navbar>
    <ion-title>Financiacion: Deuda </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label fixed>Cuota</ion-label>
      <ion-input name="cuota" [(ngModel)]="Cuota" type="number" id="cuota" placeholder="cuota"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label fixed>Tasa</ion-label>
      <ion-input name="tasa" [(ngModel)]="Tasa" type="number" id="tasa" placeholder="tasa"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label fixed>Tiempo</ion-label>
      <ion-input name="tiempo" [(ngModel)]="Tiempo" type="number" id="tiempo" placeholder="tiempo"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label fixed>Cuota Adelantada</ion-label>
      <ion-checkbox [(ngModel)]="CuotaAdelantada"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label fixed>Momento Valuacion</ion-label>
      <ion-input name="momento" [(ngModel)]="MomentoValuacion" type="number" id="momento" placeholder="momento"></ion-input>
      <i for="momento" *ngIf="MomentoValuacion < 0">Renta Diferida </i>
      <i for="momento" *ngIf="MomentoValuacion > 0">Renta Anticipada </i>
      <i for="momento" *ngIf="MomentoValuacion === 0">Renta Inmediata </i>
    </ion-item>
    <ion-item>
        <button ion-button full (click)="doCalculation(Cuota, Tasa, Tiempo, MomentoValuacion, CuotaAdelantada)"> Calcular </button>
    </ion-item>
    <ion-item>
      <ion-label class=""> <b> Deuda: $ {{ Deuda | number: '1.1' }} </b></ion-label>
    </ion-item>
  </ion-list>
</ion-content>
