<ion-header>
  <ion-navbar>
    <ion-title>Financiacion: Cuota </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label stacked>Deuda</ion-label>
      <ion-input name="deuda" [(ngModel)]="Deuda" type="number" id="deuda" placeholder="deuda"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Tasa</ion-label>
      <ion-input name="tasa" [(ngModel)]="Tasa" type="number" id="tasa" placeholder="tasa"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Tiempo</ion-label>
      <ion-input name="tiempo" [(ngModel)]="Tiempo" type="number" id="tiempo" placeholder="tiempo"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Cuota Adelantada</ion-label>
      <ion-checkbox [(ngModel)]="CuotaAdelantada"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Momento Valuacion</ion-label>
      <ion-input name="momento" [(ngModel)]="MomentoValuacion" type="number" id="momento" placeholder="momento"></ion-input>
      <i for="momento" *ngIf="MomentoValuacion < 0">Renta Diferida </i>
      <i for="momento" *ngIf="MomentoValuacion > 0">Renta Anticipada </i>
      <i for="momento" *ngIf="MomentoValuacion === 0">Renta Inmediata </i>
    </ion-item>
    <ion-item>
        <button ion-button full (click)="doCalculation(Deuda, Tasa, Tiempo, MomentoValuacion, CuotaAdelantada)"> Calcular </button>
    </ion-item>
    <ion-item>
      <ion-label class=""> <b> Cuota: $ {{ Cuota | number: '1.1' }} </b></ion-label>
    </ion-item>
  </ion-list>
</ion-content>
