<ion-header>
  <ion-navbar>
    <ion-title> Financiacion </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="container">
    <div class="row">
      <h1> Determinacion de la tasa efectiva </h1>
    </div>
    <div class="row">
      <form>
        <ul class="flex-outer">
          <li>
            <label for="deuda">Deuda: </label>
            <input name="deuda" [(ngModel)]="formula.deuda" type="number" id="deuda" placeholder="deuda">
          </li>
          <li>
            <label for="cuota">Cuota: </label>
            <input name="cuota" [(ngModel)]="formula.cuota" type="number" id="cuota" placeholder="cuota">
          </li>
          <li>
            <label for="tiempo">Tiempo: </label>
            <input name="tiempo" [(ngModel)]="formula.tiempo" type="number" id="tiempo" placeholder="tiempo">
          </li>
          <li>
            <label for="momento">Momento de valuacion: </label>
            <input name="momento" [(ngModel)]="formula.Z" type="number" id="momento" placeholder="momento">
            <label for="momento" *ngIf="formula.Z < 0">Renta Diferida </label>
            <label for="momento" *ngIf="formula.Z > 0">Renta Anticipada </label>
            <label for="momento" *ngIf="formula.Z === 0">Renta Inmediata </label>
          </li>
          <li>
            <label for="TipoDeRenta">Cuota Adelantada?: </label>
            <input name="TipoDeRenta" [(ngModel)]="formula.tipoRenta" type="checkbox" id="TipoDeRenta" placeholder="TipoDeRenta">
          </li>
          <li>
            <label for="iteraciones">Iteraciones: </label>
            <input name="iteraciones" [(ngModel)]="formula.iteraciones" type="number" id="iteraciones" placeholder="iteraciones">
          </li>
          <li>
            <button type="submit" name="button" class="btn btn-primary btn-block" (click)="onCalculate()"> Calcular </button>
          </li>
        </ul>
      </form>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h2>Convergencia </h2>
        <div style="display: block;">
          <canvas baseChart [datasets]="resultados" [labels]="lineChartLabels" [legend]="false" [chartType]="'line'">
        </canvas>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <label class=""> <b> Tasa Periodica: {{ tasaPeriodica | number: '1.2-10' }} </b></label>
      </div>
    </div>
    <div class="row">
      <div class="">
          <label class=""> <b> Error Relativo: {{ errorRelativo | number: '1.2-10' }} </b></label>
      </div>
    </div>
  </div>

</ion-content>
