<ion-header>
  <ion-navbar>
    <ion-title>Interes Compuesto: Monto</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label fixed>Capital</ion-label>
      <ion-input name="capital" [(ngModel)]="Capital" type="number" id="capital" placeholder="capital"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label fixed>Tasa*</ion-label>
      <ion-input name="tasa" [(ngModel)]="Tasa" type="number" id="tasa" placeholder="tasa"></ion-input>
    </ion-item>


    <ion-item>
      <ion-label fixed>Frecuencia de Capitalizacion</ion-label>
      <ion-input name="frecuenciaCapitalizacion" [(ngModel)]="FrecuenciaCapitalizacion" type="number" id="frecuenciaCapitalizacion" placeholder="Frecuencia de Capitalizacion"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label fixed>Tiempo</ion-label>
      <ion-input name="Tiempo"
        [(ngModel)]="Tiempo"
        type="number"
        id="Tiempo"
        placeholder="Tiempo">
      </ion-input>
    </ion-item>
    <ion-item>
      <button ion-button full (click)="doCalculation(Capital, Tasa, FrecuenciaCapitalizacion, Tiempo)"> Calcular </button>
    </ion-item>
    <ion-item>
      <ion-label> <b> Monto: $ {{ Monto | number: '1.1' }} </b></ion-label>
    </ion-item>
    <ion-item>
      <label class=""> <b> Intereses: $ {{ Monto - Capital | number: '1.1' }} </b></label>
    </ion-item>
    <ion-item>
      <ion-label> <b> * </b> {{ FrecuenciaCapitalizacion == 1 ? "Tasa Efectiva" : "Tasa Nominal" }} </ion-label>
    </ion-item>
  </ion-list>
</ion-content>