<ion-header>
  <ion-navbar>
    <ion-title>Capitalizacion: Cuota </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label fixed>Valor Futuro</ion-label>
      <ion-input name="valorFuturo" [(ngModel)]="ValorFuturo" type="number" id="valorFuturo" placeholder="Valor Futuro"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label fixed>Tasa</ion-label>
      <ion-input name="tasa" [(ngModel)]="Tasa" type="number" id="tasa" placeholder="tasa"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label fixed>Tiempo</ion-label>
      <ion-input name="tiempo" [(ngModel)]="Tiempo" type="number" id="tiempo" placeholder="tiempo"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label fixed>Cuota Adelantada</ion-label>
      <ion-checkbox [(ngModel)]="CuotaAdelantada"></ion-checkbox>
    </ion-item>
    <ion-item>
      <button ion-button full (click)="doCalculation(Tasa, Tiempo, ValorFuturo, CuotaAdelantada)"> Calcular </button>
    </ion-item>
    <ion-item>
      <ion-label class=""> <b> Cuota: $ {{ Cuota | number: '1.1' }} </b></ion-label>
    </ion-item>
  </ion-list>
</ion-content>