<ion-header>
  <ion-navbar>
    <ion-title>TIR </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label>
         Flujo de fondos
      </ion-label>
    </ion-item>

    <ion-item *ngFor="let flujo of flujosFondo; let in = index">
      <ion-label> 
         {{ in }} -
      </ion-label>
      <ion-input type="number" name="flujo-{{in}}" [(ngModel)]="flujo.value">
      </ion-input>
    </ion-item>

    <button ion-button full type="button" name="button" (click)="agregarFlujo()"> + </button>


    <ion-item>
      <ion-label> R - Tasa de rendimiento </ion-label>
      <ion-label> <b>{{ r }} </b> </ion-label>
    </ion-item>

    <button ion-button full type="button" name="button" (click)="doCalculation()"> Calcular </button>

    <ion-item>
      <ion-label>  Convergencia - Newton Raphson </ion-label>
    </ion-item>

      <canvas baseChart [datasets]="Convergencia" [labels]="lineChartLabels" [legend]="false" [chartType]="'line'">
      </canvas>

    <ion-item>
      <ion-label>Tasa Iterada</ion-label>
    </ion-item>
    <canvas baseChart [datasets]="TasaIterada" [labels]="lineChartLabels" [legend]="false" [chartType]="'line'">
    </canvas>

  </ion-list>
</ion-content>
