<ion-header>
  <ion-navbar>
    <ion-title>TIR </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div class="container">
    <div class="row">
      <form>
        <h1>Flujo de fondos</h1>

        <div *ngFor="let flujo of flujosFondo; let in = index">
          {{ in }} -
          <input type="number" name="flujo-{{in}}" [(ngModel)]="flujo.value">
        </div>

        <div>
          <button type="button" name="button" (click)="agregarFlujo()"> + </button>
        </div>

        <div class="col-md-4"> 
            R - Tasa de rendimiento
            {{ R }}
        </div>

        <button type="button" name="button" (click)="doCalculation()"> Calcular </button>

      </form>
    </div>
  </div>
</ion-content>
