<ion-header>
  <ion-navbar>
    <ion-title>TIR </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div class="container">
    <div class="row">
      <form>
        <h1>Flujo de fondos</h1>

        <div *ngFor="let flujo of flujosFondo; let in = index">
          {{ in }} -
          <input type="number" name="flujo-{{in}}" [(ngModel)]="flujo.value">
        </div>

        <div>
          <button type="button" name="button" (click)="agregarFlujo()"> + </button>
        </div>

        <div class="col-md-4"> 
            R - Tasa de rendimiento
            <b>{{ r }} </b>
        </div>

        <button type="button" name="button" (click)="doCalculation()"> Calcular </button>

        <div class="col-xs-12">
          <h2>Convergencia - Newton Raphson </h2>
          <div style="display: block;">
          <canvas baseChart [datasets]="Convergencia" [labels]="lineChartLabels" [legend]="false" [chartType]="'line'">
          </canvas>
          </div>
        </div>

        <div class="col-xs-12">
          <h2>Tasa Iterada </h2>
          <div style="display: block;">
          <canvas baseChart [datasets]="TasaIterada" [labels]="lineChartLabels" [legend]="false" [chartType]="'line'">
          </canvas>
          </div>
        </div>


      </form>
    </div>
  </div>
</ion-content>
